.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:black;
    overflow: hidden;
    
}

.navbar > li {
    float: left;
}

.navbar > li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar > li > a:hover:not(.active){
    background-color: saddlebrown;
}

.navbar > li > .active{
    background-color: darkgreen;
}
div > .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container{
    width: 100%;
}

.divkiri{
    float: left;
    padding: 20px;
    width: 70%;
}

.divkanan{
    float: right;
    width: 25%;
    padding: 10px;
    margin: 0 auto;
}
